* {
  font-family: Lato !important ;
  text-align: center !important;
}
.btn {
  color: white;
  text-decoration: none;
}
.btn:hover {
  color: black;
  background-color: yellowgreen;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.secondPlayer {
  opacity: 0.5;
}

#footer {
  border-radius: 50px !important;
}

audio {
  border-radius: 40px;
}

.header {
  margin-top: 30px;
  border-radius: 50px !important;
}

footer {
  margin: auto;
  padding: auto;
  border-radius: 50px !important;
  font-weight: 300;
}

.centered {
  text-align: center;
  margin: auto;
  padding: auto;
  vertical-align: middle !important ;
}
#roll {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#hold {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.firstPlayer {
  background-color: lightblue;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 25% 10%;
}
.round {
  background-color: white;
}
.secondPlayer {
  padding: 15px;
  margin: 15px;
  border-radius: 25% 10%;
  background-color: rgb(250, 144, 144);
  color: white;
}
